/*BASE*/
:root{
    /*COLORS*/
    --main_pale-blue: hsl(225, 100%, 94%);
    --main_bright-blue: rgb(56, 42, 225);
    --second_bright-blue: (56, 42, 225);
    --second_very-pale-blue: hsl(225, 100%, 98%);
    --second_desaturated-blue: hsl(224, 23%, 55%);
    --second_dark-blue: hsl(223, 47%, 23%);

    --main_font-family: "Red Hat Display", sans serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main_font-family);
    font-size: 62.5%;
}


/*Background*/

body{
    background-color: var(--main_pale-blue);
    background-image: url(../images/pattern-background-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*MAIN*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

/*MAIN CONTAINER*/
main .container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgb(56, 42, 225, 0.2);
}
/*MAIN CONTAINER COVER*/
main .container-card__cover img{
    width: 310px;;
    margin: 0 0 30px 0;
    border-radius: 20px 20px 0 0;
    
}
/*MAIN  CONTAINER TEXT*/
main .container-card__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: auto;
    font-family: var(--main_font-family);
}
main .container-card__text h2{
    margin: 0 0 10px 0;
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
    color: var(--second_dark-blue);
}
main .container-card__text p{
    margin: 0 0 30px 0;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: var(--second_desaturated-blue);
}
/*MAIN CONTAINER PLANS*/
main .container-card__plans{
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    padding: 15px;
    margin: 0 0 30px 0;
    width: 85%;
    height: auto;
    background-color: var(--second_very-pale-blue);
    border-radius: 15px;
}
main .container-card__plans img{
    width: 48px;
    height: 48px;
    margin: 0 10px 0 0;
}
main .container-card__plans div{
    display: flex;
    flex-direction: column;
    
}
main .container-card__plans h3{
    text-align: start;
    font-size: 1.4rem;
    color: var(--second_dark-blue);
}
main .container-card__plans p{
    text-align: start;
    font-size: 1.4rem;
    color: var(--second_desaturated-blue);
}
main .container-card__plans button{
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--main_bright-blue);
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

/*MAIN CONTAINER BUTTONS*/
main .container-card__buttons_payment{
    width: 85%;
    height: 45px;
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: var(--main_bright-blue);
    color: white;
    box-shadow: 0 15px 20px rgb(56, 42, 225, 0.2);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
main .container-card__buttons_cancel{
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--second_desaturated-blue);
    background: none;
    border: none;
    cursor: pointer;
}

/*
1. Posicionamiento.
2. Modelo de Caja.
3. Tipografía.
4. Visuales.
5. Otros.
*/




/*FOOTER*/
footer .attribution{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
}

